body {
    font-family: sans-serif, Arial, Helvetica;
}


h1 {
    color: blue;
}

img {
    height: 400px;
    width: auto;
}

.ingredients {
    color: green;
}

.instructions {
    color: red;
}
#flag {
    height: 200px;
}