*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}

div {
    margin: 0 auto;
}

h1 {
    text-align: center;
    text-decoration: underline overline white;
    margin-bottom: 8px;
    margin-top: 0px;
    color: white;
}

h2 {
    text-align: center;
    text-decoration: underline white;
    color: white;
    margin: 0 auto;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.card {
    background-color: rgb(149, 201, 238);
    border: 20px;
    border-color: paleturquoise;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
}

.recipe {
    width: 700px;
}

.recipe-links {
    text-align: center;
    color: white;
    margin: 8px auto;
}

.recipe-links a{
    display: block;
}

.recipe-links h3 {
    margin: 8px auto;
}

.flag-img {
    max-height: 200px;
    width: auto;
}

.sinigang-img {
    max-height: 300px;
    width: auto;
}

.adobo-img {
    max-height: 400px;
    width: auto;
}

.tortang-img {
    max-width: 60%;
    height: auto;
}