*{
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Arial, Helvetica;
}

div {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0 auto;
}

.card {
    background-color: rgb(149, 201, 238);
    border: 20px;
    border-color: paleturquoise;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
}

.homepage-title {
    color: white;
    margin-top: 0;
    margin-bottom: 8px;
}

.flag-img {
    display: block;
    height: 200px;
    margin: 0 auto;
}

.recipe-links {
    text-align: center;
    color: white;
    margin: 8px auto;
}

.recipe-links a{
    display: block;
}

.recipe-links h3 {
    margin: 8px auto;
}

.ingredients {
    color: green;
}

.instructions {
    color: red;
}